<div class='uit-intro'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__title'>Guardian US Illustrator Roster</h1>
            <p>This is the Guardian US' roster of illustrators that should be used for all US commissions. The list will never be complete and we'll probably cycle illustrators through. If you're looking for a style or tone that isn't here, or have a favourite illustrator you want to work with, let me know and we can talk about adding them to the roster.</p>

            <p>If you think your piece needs an illustration have a look at the list below. Once you've found a few illustrators or have a good idea of the tone of your piece. Send an email over to <a href='mailto:sam.morris@theguardian.com'>sam.morris@theguardian.com</a> and <a href='mailto:francisco.navas@theguardian.com'>francisco.navas@theguardian.com</a> with the following details</p>

            <ul>
                <li>A quick description of the piece</li>
                <li>Ideally the final headline. This will give the illustrator something to work directly with</li>
                <li>A Composer or Google Docs link containing the copy</li>
                <li>The deadline</li>
                <li>An illustrator or tone you have in mind</li>
                <li>If you have room in your budget for spot illustrations or not*</li>
            </ul>

            <p>*If you don't have enough budget for spots, or even lead illustrations, let me know. There might be enough room in the visuals budget to cover or part-cover it.</p>
        </div>
    </div>
</div>