.uit {
    overflow: hidden;
    background-color: $c-white;
}

.uit-container {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        max-width: 740px;
    }

    @include mq(desktop) {
        max-width: 980px;
    }

    @include mq(leftCol) {
        max-width: 1140px;
    }

    @include mq(wide) {
        max-width: 1300px;
    }
}
