.uit-header {
    background-color: $c-yellow;
    color: $c-black;
    padding: 8px 0;
}

.uit-header__title {
    font-family: 'Guardian Figures';
    font-size: 30px;
    font-weight: normal;
    color: $c-black;
}
